name: Docker Build

on: ["push", "pull_request"]

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Build
        id: docker_build
        run: |
          docker buildx build \
          --platform linux/amd64,linux/arm64 \
          .
      -
        name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}